<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authority</key>
	<string>https://login.microsoftonline.com/common</string>
	<key>clientId</key>
	<string>8bb4b890-775a-4d80-b196-0fe802e6ec80</string>
	<key>resourceString</key>
	<string>http://localhost:3000/tasks</string>
	<key>redirectUri</key>
	<string>mstasks://com.microsoft.windowsazure.activedirectory.samples.microsofttasks</string>
	<key>userId</key>
	<string></string>
	<key>taskWebAPI</key>
	<string>http://localhost:3000/tasks</string>
	<key>fullScreen</key>
	<true/>
	<key>showClaims</key>
	<true/>
</dict>
</plist>
