<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authority</key>
	<string>https://login.microsoftonline.com/common</string>
	<key>clientId</key>
	<string>e6d65cc4-f9e8-444a-9ba6-c3c82ce8086b</string>
	<key>resourceString</key>
	<string>http://localhost:3000/tasks</string>
	<key>redirectUri</key>
	<string>urn:ietf:wg:oauth:2.0:oob</string>
	<key>userId</key>
	<string></string>
	<key>taskWebAPI</key>
	<string>http://localhost:3000/tasks</string>
	<key>fullScreen</key>
	<true/>
	<key>showClaims</key>
	<true/>
</dict>
</plist>
