<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authority</key>
	<string>https://login.windows.net/common</string>
	<key>clientId</key>
	<string>dd9caee2-38bd-484e-998c-7529bdef220f</string>
	<key>resourceString</key>
	<string>https://graph.windows.net</string>
	<key>redirectUri</key>
	<string>MyTestiOSApp://com.MSOpenTech.MyTestiOSApp</string>
	<key>userId</key>
	<string></string>
	<key>taskWebAPI</key>
	<string>https://localhost/api/todolist/</string>
	<key>fullScreen</key>
	<true/>
</dict>
</plist>
